.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: whitesmoke;
  height: 150px;
  padding: 10px;
  color: white;
}

.view-group{
  text-align: center;
  padding-left: 40%;
  padding-top: 5px;
}

.view-header{
  left: 30%;
  padding-top: 5px;
}

.App-intro {
  font-size: large;
}

.btn-warning {
    height: 100px; width: 200px;
    margin-bottom: 20px;
    margin-top:20px;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
